@use "src/constants/constants";

.burger-menu {
  .burger-menu__button {
    cursor: pointer;
    margin-left: 10px;
  }

  .burger-menu__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    background: constants.$generic-blue;
    z-index: 9999999;
    transition: 0.5s ease;

    .burger-menu__close-button {
      margin: 15px 15px 0 auto;
      cursor: pointer;
    }

    .burger-menu__route {
      color: white;
      font-size: 30px;
      margin: 15px 30px;
    }

    .last {
      margin-top: auto;
      margin-bottom: 50px;
    }
  }

  .burger-menu__menu-background {
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    transition: 0.5s ease;
  }

  .hidden {
    left: -100%;
    transition: 0.5s ease;
  }

  .hidden-background {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
  }
}