  .form-wrapper__form {
    background: white;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
  }

  .form-wrapper__form-buttons {
    display: flex;
  }

  .error {
    animation: horizontal-shaking 0.2s;
    animation-iteration-count: 1;
  }

  @keyframes horizontal-shaking {
     0% { transform: translateX(0) }
     25% { transform: translateX(5px) }
     50% { transform: translateX(-5px) }
     75% { transform: translateX(5px) }
     100% { transform: translateX(0) }
   }

